<div class="full-page <%= @scene %>"></div>

<div><%= link_to "Home", root_path %></div>

<div class="">

<div class="info-box">
  <div class="info-title">
    <h3><%= @location %></h3>
  </div>
  <div class="info-time">
    <div>Last Updated: <%= Time.at(@weather_data['currently']['time']).strftime("%I:%M %p") %></div>
  </div>
  <div class="info-weather-data">
    <% @current_conditions.map do |attr, val| %>
      <ul>
        <li><%= attr %>: <%= val %></li>
      </ul>
    <% end %>
  </div>

  <div class="photo-cred">
    Photo by <%= link_to @photographer[0], @photographer[1], target: '_blank'%>
  </div>
</div>
