<div class="full-page <%= @scene %>"></div>
<div class="dark-sidebar"></div>

<div class="home-btn"><%= link_to "Home", root_path %></div>

<div class="info-box">
  <h3 class="info-title"><%= @location %></h3>
  <div class="info-summary">
    <%= @weather_data['hourly']['summary'] %>
  </div>
  <div class="info-weather-data">
    <% @current_conditions.map do |attr, val| %>
      <ul>
        <li><%= attr.underscore.titleize %>: <%= val %></li>
      </ul>
    <% end %>
  </div>
</div>

<footer>
  <div class="update-time">
    Last Updated: <%= Time.at(@weather_data['currently']['time']).strftime("%l:%M %P") %>
  </div>
  <div class="photo-cred">
    Photo by <%= link_to @photographer[0], @photographer[1], target: '_blank'%>
  </div>
</footer>
