<div class="full-page <%= @scene %>"></div>
<div class="dark-sidebar"></div>

<div class="home-btn"><%= link_to "Home", root_path %></div>

<div class="info-box">
  <h3 class="info-title"><%= @location %></h3>
  <div class="info-summary">
    <%= @weather_data['hourly']['summary'] %>
  </div>
  <div class="info-weather-data">
    <ul>
      <% @current_conditions.map do |attr, val| %>
        <li class="<%= attr %>"><%= attr.underscore.titleize %>: <span class="<%= attr %>-value"><%= val.keys[0] %></span><%= val.values[0] %></li>
      <% end %>
    </ul>
  </div>
</div>

<footer>
  <div class="update-time">Last Updated: <span class="update-time-value"><%= Time.at(@weather_data['currently']['time']).strftime("%l:%M %P") %></span></div>
  <div class="photo-cred">
    Photo by <%= link_to @photographer[0], @photographer[1], target: '_blank'%>
  </div>
</footer>
